node_modules/
.env
priv/
*.dtmp
*.bkp
dist/
server/logs/
*.backup

bot-state.json
feedback.json
deployment.json
metrics.json

devlog10.md

################### ADDED VIA REACT APP ####################
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.rag