WEBHOOK_SECRET=replace_with_a_random_secret # do `openssl rand -hex 32` on linux/wsl or on windows do `[Convert]::ToHexString((1..32 | ForEach-Object { Get-Random -Maximum 256 })).ToLower()`
PORT=9000
PROJECT_DIR=/root/projs/slackzilla # replace with the directory of this
SERVICE_NAME=slackzilla # replace with the name of service if different
BRANCH=main # branch to deploy from
REPO_URL=https://github.com/rylvion/slackzilla.git # change this to your repo